---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
---

<Layout title="Home">
	<button class="btn">as</button>
	<Button 
	style="btn"
	title="text"
	iconClass="bx bxs-coffee-bean"
	/>
</Layout>
